QWidget {
    background: rgb(50, 50, 50);
    font-family: Helvetica Neue;
    font-size: 12px;
    color: rgb(200, 200, 200);
}

QLabel[type="player"] {
    font: bold;
    color: rgb(150, 150, 150);
}

QLabel[type="eval-header"] {
    font: bold;
}

QLabel[type="tag-header"] {
    font-size: 13px;
    font: bold;
    color: rgb(120, 120, 120);
}

QLabel[type="tag"] {
}

QPushButton {
    font-size: 14px;
    padding: 5px, 5px;
}

QPushButton[level="1"],
QPushButton[level="2"],
QPushButton[level="3"] {
    border-radius: 5px;
}

QPushButton[level="1"]:pressed,
QPushButton[level="2"]:pressed,
QPushButton[level="3"]:pressed {
    border-color: rgb(150, 150, 150);
    border-style: solid;
    border-width: 1px;
}

QPushButton[level="1"] {
    background-color: rgb(60, 100, 170);
}

QPushButton[level="2"] {
    background-color: rgb(80, 80, 80);
}

QPushButton[level="3"] {
    background-color: rgb(50, 50, 50);
    border-color: rgb(80, 80, 80);
    border-style: solid;
    border-width: 1px;
}