QWidget {
    background: hsl(0, 0, 50);
    font-family: Helvetica Neue;
    font-size: 12px;
    color: hsl(0, 0, 180);
}

QLabel[type="player"] {
    font-weight: bold;
    color: hsl(0, 0, 150);
}

QLabel[type="eval-header"] {
    font-size: 13px;
    font-family: Consolas;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: hsl(0, 0, 120);
}

QLabel[type="eval-normal"] {
    font-size: 14px;
    font-family: Consolas;
    font-weight: normal;
    color: hsl(0, 0, 150);
}

QLabel[type="eval-inaccuracy"] {
    font-size: 14px;
    font-family: Consolas;
    font-weight: normal;
    color: hsl(210, 148, 150);
}

QLabel[type="eval-mistake"] {
    font-size: 14px;
    font-family: Consolas;
    font-weight: normal;
    color: hsl(43, 179, 120);
}

QLabel[type="eval-blunder"] {
    font-size: 14px;
    font-family: Consolas;
    font-weight: normal;
    color: hsl(5, 170, 150);
}

QLabel[type="tag-header"] {
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 2px;
    color: hsl(0, 0, 120);
}

QLabel[type="message-normal"],
QLabel[type="message-warning"],
QLabel[type="message-error"] {
    font-size: 11px;
    padding: 5px;
    border-radius: 7px;
}

QLabel[type="message-normal"] {
    background-color: rgb(40, 40, 40);
}

QLabel[type="message-warning"] {
    color: #E0B953;
    background-color: rgb(40, 40, 40);
}

QLabel[type="message-error"] {
    color: #EC7A5A;
    background-color: rgb(40, 40, 40);
}

QCheckBox[type="tag"] {
    letter-spacing: 0.5px;
    color: hsl(0, 0, 180);
}

QRadioButton[type="tag"] {
    letter-spacing: 0.5px;
    color: hsl(0, 0, 180);
}

QLabel[type="textbox-header"] {
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 2px;
    color: hsl(0, 0, 120);
}

QPlainTextEdit {
    background-color: hsl(0, 0, 40);
    border-style: none;
    font-family: Helvetica Neue;
    font-size: 13px;
    font-weight: normal;
    font-style: italic;
    color: hsl(0, 0, 180);
}

QPlainTextEdit QScrollBar:vertical {
    width: 8px;
    background: transparent;
}

QPlainTextEdit QScrollBar::handle:vertical {
    background: hsl(0, 0, 100);
    border-radius: 4px;
    min-height: 30px;
}

QPlainTextEdit QScrollBar::handle:vertical:hover {
    background: hsl(0, 0, 150);
}

QPlainTextEdit QScrollBar::add-line:vertical,
QPlainTextEdit QScrollBar::sub-line:vertical {
    height: 0px;
}

QPlainTextEdit QScrollBar::add-page:vertical,
QPlainTextEdit QScrollBar::sub-page:vertical {
    background: transparent;
}

QPushButton {
    font-size: 14px;
    padding: 5px, 5px;
}

QPushButton[level="1"],
QPushButton[level="2"],
QPushButton[level="3"] {
    border-radius: 5px;
}

QPushButton[level="1"]:pressed,
QPushButton[level="2"]:pressed,
QPushButton[level="3"]:pressed {
    border-color: hsl(0, 0, 150);
    border-style: solid;
    border-width: 1px;
}

QPushButton[level="1"] {
    background-color: hsl(220, 120, 130);
}

QPushButton[level="2"] {
    background-color: hsl(0, 0, 80);
}

QPushButton[level="3"] {
    background-color: hsl(0, 0, 50);
    border-color: hsl(0, 0, 80);
    border-style: solid;
    border-width: 1px;
}